//FONTS
$font-primary : 'Montserrat', sans-serif;
$font-focus : 'Cardo', serif;


//COLORS
/*
$color-primary: #3d5af1;
$color-primary-light: #22d1ee;
$color-primary-dark: #0e153a;
*/
$color-primary: #a4d1d1;
$color-primary-light: #e2f3f5;
$color-primary-dark: #0e153a;


/*
$color-primary: #ffcdab;
$color-primary-light: #fff4e3;
$color-primary-dark: #5d5d5a;
*/
$color-white-warm: #e2f3f5;
$color-grey-light:#e2f3f5;
$color-grey-dark:#e2f3f5;

$color-button-hover: #ee5a5a;
$color-notice: #364f6b;
$color-change: #c5e3f6;
$color-h3: #1f4287;

//FONT-SIZE

