.testimonial-short{
    grid-column: full-start / full-end;
    display: grid;
    padding: 4rem 4rem;
    @include respond(tab-land){
        padding: 4rem;
    }

    @include respond(phone){
        margin-top: 10rem; 
        transform: translateY(-6rem);
    }

    &__text{
        text-align: center;
        display: inline-block;
        padding: 0 30rem;
        justify-self: center;
        font-size: 2rem;
        @include respond(tab-land){
            padding: 0 10rem;
        }

        @include respond(phone){
            padding: 0 2rem;
            font-size: 1.4rem;
        }
    }

    &__person{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    &__img{
        width: 6rem;
        border-radius: 50%;
        margin-right: 2rem;

        @include respond(phone){
            display: none;
        }
    }

    &__name{
        font-weight: 700;
        align-self: center;
        font-size: 2rem;
    }
}