*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: $font-primary;
    color: $color-primary-dark;
    font-weight: 300;
    line-height: 1.6;

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }
    
    @include respond(phone){
        font-size: 62.5%;
    }

    @include respond(big-desktop){
        font-size: 75%;
    }
}

::selection {
    color: $color-primary;
    background: $color-primary-dark;
  }