.u-center-text{ text-align: center !important;}

.u-margin-bottom-big{ 
    margin-bottom: 8rem !important;
    @include respond(tab-port){
        margin-bottom: 5rem !important;
    } 
}

.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
    @include respond(tab-port){
        margin-bottom: 4rem !important;
    } 
 }



.u-margin-bottom-small{ margin-bottom: 3rem !important; }

.u-margin-bottom-text{ margin-bottom: 2rem !important;}

.u-margin-top-small{ margin-top: 5rem !important;}

.u-margin-top-big{ margin-top: 8rem !important;}

.u-margin-top-huge{ margin-top: 10rem !important;}

.color-change {background-color: $color-change !important;}

.color-background-sec { background-color: $color-primary !important;}

.color-warm-white {background-color: $color-white-warm !important;}

.color-background-nav{ background-color: #fff !important;}

.text-police-h3{font-family: $font-focus !important;}

.text-strong{font-weight: 700 !important;}

.text-strong-2{font-weight: 500 !important;}

.u-text-thin-3{font-weight: 300 !important;}

.color-white-btn-nav{color: #fff !important;}

.color-primary-text{color: $color-primary !important;}

.text-underlined{
    position:relative;
    font-weight: 500;
    z-index:0;
    
    &::after{
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        height: .8rem;
        background-color: $color-primary;
        z-index:-1;
    }
}