/*.footer{
    background-color:  $color-primary-dark ;
    grid-column: full-start / full-end;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone){
        margin-top: 10rem;
    }

    &__logo{
        width: 20rem;
        margin-bottom: 2rem;
    }
    &__logo-box{
        
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__icon{
        padding:0 1rem 3rem 1rem;
        width: 75%;
        height: 75%;
        object-fit: cover;
    }
    &__copyright{
        color: #fff;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    &__btn{
        background-color: $color-button-hover;
    }
}
*/

$header2-font: 3rem;
$font-size: 1.5rem;
$hover-color: $color-primary;
$opacity: 0.85;
$padding: 2rem;
$primary-color: $color-primary-dark;
$primary-column: 55%;
$radius: 5px;
$secondary-color: $color-primary-light;

// link styling defaults
.footer-links {
	color: $color-primary;
	text-decoration:none;
    transition: all .5s;
    
	&:active,
	&:focus,
	&:hover {
		color:$color-primary-light;
	}
}
.footer-h2 {
	color: $hover-color;
	font-size: $header2-font;
	margin: 5px auto;
	text-transform: uppercase;
}
.footer-p,
address {
	color: $secondary-color;
    font-weight: 300;
    
    
}

// style footer element
.footer-wrapper {
    grid-column: 1 / -1;
    padding: 10rem 6rem;
	background-color: $primary-color;
	// border: $secondary-color 1px solid;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"section-1"
		"section-2"
		"section-3"
		"social"
		"copyright";
	grid-template-columns: fit-content;
	justify-items: stretch;
	max-height: min-content;
	width: inherit;

	@media screen and (min-width: 600px) {
		grid-template-areas:
			"section-1 section-1"
			"section-2 section-3"
			"copyright social";
	}

	@media screen and (min-width: 1200px) {
		grid-template-areas:
			"section-1 section-2 section-3"
			"copyright social social";
	}

	div[class^="section"] {
		font-size: $font-size;
	}

	& > div {
		// border: 1px dashed white;
		padding: 1rem;
		text-align: center;
	}

	.section-1 {
		grid-area: section-1;

		@media screen and (min-width: 600px) {
			text-align: left;
		}
	}

	.section-2 {
		grid-area: section-2;

		@media screen and (min-width: 600px) {
			text-align: left;
		}

		@media screen and (min-width: 1200px) {
			text-align: center;
		}
	}

	.section-3 {
		grid-area: section-3;

		@media screen and (min-width: 600px) {
			text-align: left;
		}

		@media screen and (min-width: 1200px) {
			text-align: right;
		}
	}

	.social {
		grid-area: social;
	}

	.copyright {
		grid-area: copyright;
        font-size: 3rem;
		@media screen and (min-width: 600px) {
			text-align: left;
		}
	}
}

.footer-ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
    text-transform: capitalize;
    
	li.link {
        display: block;
        padding: .5rem 0;
        
	}
}

.social-group {
	align-items: center;
	display: grid;
	grid-auto-rows: minmax(30px, 1fr);
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
	justify-content: center;
	// justify-items: center;
	list-style: none;
	margin: auto;
	padding: 0;
    
	@media screen and (min-width: 600px) {
		justify-content: right;
	}

	.social-item {
		font-size: 0.5rem;
	}
}

.copyright > sub > .footer-span {
	color: white;
}
.copyright > sub {
	color: darken($hover-color, 10%);
}
